/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CLASSES START HERE*/

.colourDemo{
    width:200px;
}

.colourSwatch{
    margin:10px;
}

/*COLOURS START HERE*/

.primaryColour{
    background-color:#4CAF50;
}

.secondaryColour{
    background-color:#388E3C;
}

.tertiaryColour{
    background-color:#C8E6C9;
}

.primaryColourAccent{
    background-color:#2196F3;
}

.secondaryColourAccent{
    background-color:#1976D2;
}

.tertiaryColourAccent{
    background-color:#BBDEFB;
}

/*IDS START HERE*/

#leftCol{
	float:left;
	height:100%;
	width:256px;
	overflow: hidden;
}

#topNav{
	border-bottom: 1px solid #e0e0e0;
	text-align:center;
}

#topNav img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#topNav, header{
	height:64px;
}

#centerNav{
	display: flex;
	flex-direction: column;
	justify-content: initial;
}

#botNav{
	border-top: 1px solid #e0e0e0;
	text-align:center;
	position:relative;
	bottom:0px;
}

#botNav, footer{
	height:96px;
}

#rightCol{
	float:right;
	height:100%;
	padding-bottom: 99999px;
    margin-bottom: -99999px;
	margin-right:-256px;
	overflow: hidden;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

/*DEFAULT TAG NAMES START HERE*/

body, html{
  height: 100%;
}

header{
	background-color:#4CAF50;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

nav{
	border-right: 1px solid #e0e0e0;
	min-height:100%;
	box-sizing:border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer{
	background-color:#4CAF50;
}